<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>영농작업일지</title>

<body>

<form class="row g-3 my-2" action="#" method="POST">
    <div class="col-md-2">
        <label for="field" class="form-label">경작지 선택</label>
        <select id ="field" class="form-label" name="fieldchoice" required>
            <option value="1">1번 토지</option>
            <option value="2">2번 토지</option>
            <option value="3">3번 토지</option>
            <option value="4">4번 토지</option>
            <option value="5">5번 토지</option>
            <option value="6">6번 토지</option>
            <option value="7">7번 토지</option>
            <option value="8">8번 토지</option>
            <option value="9">9번 토지</option>
            <option value="10">10번 토지</option>
        </select>
    </div> 
    <div class="col-md-3">
        <label for="crop" class="form-label">작물 종류</label>
        <label for="crop" class="form-label" id="ssac_label"></label>
        <script type="text/javascript">
            function select_work(obj) {
                if (obj.value == "밀") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value='파종'>파종</option>
                        <option value='제초'>제초</option>
                        <option value='배수구정비'>배수구정비</option>
                        <option value='토입'>토입</option>
                        <option value='답압'>답압</option>
                        <option value='추비'>추비</option>
                        <option value='방제'>방제</option>
                        <option value='수확및탈곡'>수확및탈곡</option>
                        <option value='수매'>수매</option>
                    `;
                }
                else if (obj.value == "팥") {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value='파종'>파종</option>
                        <option value='북주기'>북주기</option>
                        <option value='김매기'>김매기</option>
                        <option value='배수작업'>배수작업</option>
                        <option value='수확'>수확</option>
                    `;
                }
                else {
                    document.getElementById("inputCounty").innerHTML = `
                        <option value='none'>아직 안정함</option>
                     `;
                }
            }
        </script>
        <select id="crop" class="form-select" name="jcity" required onchange="select_work(this);">
            <option value="밀"selected>--밀--</option>
            <option value="팥">--팥--</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="inputCounty" class="form-label">작업</label>
        <script type="text/javascript">
            function select_etc(obj) {
                if (obj.value == "파종") {
                    document.getElementById("inputEtc").innerHTML = `
                        <option value='alla'>알라코입제</option>
                        <option value='para'>파라코입제</option>
                        <option value='buta'>부타유제</option>
                    `;
                }
                else if(obj.value == "북주기") {
                    document.getElementById("inputEtc".innerHTML) = `
                        <option value='14kg'>14~15kg</option>
                        <option value='15kg'>15~16kg</option>
                        <option value='16kg'>16~17kg</option>
                        <option value='17kg'>17~18kg</option>
                    `;
                }
                else {
                    document.getElementById("inputEtc".innerHTML) = `
                        <option value='none'>개빡쳐요</option>
                    `;
                }

            }
        </script>
        <select id="inputCounty" class="form-select" name="jcounty" required onchange="select_etc(this);">
            <option value="" disabled selected>선택하세요</option>

        </select>
        
    </div>
    <div class="col-md-5">
        <label for="inputEtc" class="form-label">기타사항</laber>
        <select id="inputEtc" class="form-select" name="working" required>
            <option value="">선택하세요</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="workrate" class="form-label">작업 진행도</label>
        <select id ="workrate" class="form-label" name="fieldchoice" required>
            <option value="0"selected>0%</option>
            <option value="10">10%</option>
            <option value="20">20%</option>
            <option value="30">30%</option>
            <option value="40">40%</option>
            <option value="50">50%</option>
            <option value="60">60%</option>
            <option value="70">70%</option>
            <option value="80">80%</option>
            <option value="90">90%</option>
            <option value="100">100%</option>
        </select>
    </div>
    <br>
    <br>
    <input type="submit" value="제출">
</form>
</body>